<div class="col">

    <div class="category">

        <div class="col-head">
            <span id="col-title" class="category-title card-title"><b class="ititle deep-purple-text text-darken-4"> {{i.title}}</b></span><br>
            <!-- left arrow     -->
            {% if i.order > 1 %}
                <a href="#">
                    <i class="left-arr small material-icons button-col-decr-order" data-column-order="{{i.order}}" data-column-id="{{i.id}}">chevron_left</i>
                </a>
            {% endif %}
            <!--  drop middle arrow -->
            <a class='col-drop dropdown-trigger' href='#' data-target='dropdown{{i.id}}'>
                <i class="small material-icons">arrow_drop_down</i>
            </a>
            <ul id='dropdown{{i.id}}' class='dropdown-content'>
                <li><a class="modal-trigger green-text text-darken-3" data-column-id="{{i.id}}" href="#modal-column-rename">
                    <i class="small material-icons ">border_color</i>Изменить
                </a>
                </li>
                <li class="divider" tabindex="-1"></li>
                <li>
                    <a class="modal-trigger deep-orange-text text-darken-4" data-column-id="{{i.id}}" href="#modal-column-delete">
                        <i class="small material-icons">delete</i>Удалить
                    </a>
                </li>
            </ul>
            <!--   right arrow         -->
                <a href="#">
                    <i class="right-arr small material-icons button-col-incr-order" data-column-order="{{i.order}}" data-column-id="{{i.id}}">chevron_right</i>
                </a>

        </div>
        <div class="col-body">
        {% for c in i.cards %}

        <!--  modal for card update      -->
        <div id="modal-card-upd{{c.id}}" class="modal">
            <div class="modal-content">
                <h4>{{c.title}}</h4>
                <div class="input-field">
                    <div class="input-field">
                        <input id="title-rename" type="text" value="{{c.title}}">
                        <label for="title-rename">Введите новое название</label>
                    </div>
                    <div class="input-field">
                        <textarea id="text-upd">{{c.text}}</textarea>
                        <label for="text-upd">Введите текст</label>
                    </div>
                    <div class="input-field">
                        <input id="estimate" type="date" value="{{c.estimate}}">
                        <label for="estimate">Дедлайн</label>
                    </div>
                    <div class="input-field">
                        <select id="col-upd">
                            {% for i in columns %}
                            {% if i.id == c.column_id %}
                            <option value="{{i.id}}" selected> {{i.title}}</option>
                            {% else %}
                            <option value="{{i.id}}"> {{i.title}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <label for="col-upd">Смена этапа</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="button-card-upd btn-flat white-text modal-close teal lighten-1">OK</a>
                <a href="#" class="btn-flat white-text modal-close deep-orange darken-4">Отмена</a>
            </div>
        </div>
        <!--   end modal for card update     -->

        <div class="card-mini card deep-purple darken-4">
            <div class="card-content white-text">
                <div class="card-text-content">
                <a href="/card/{{c.id}}"> <span class="card-title teal-text text-lighten-1">{{c.title}}</span></a>
                <p> {{c.text}} </p>
                </div>
                <div class="card-side-panel">
                    <!-- top arrow     -->
                    {% if c.order > 1 %}
                        <a href="#"><i class="small material-icons button-card-decr-order" data-card-order="{{c.order}}" data-card-id="{{c.id}}">keyboard_arrow_up</i></a>
                    {% endif %}
                    <!--  drop-->
                    <a class='card-drop dropdown-trigger' href='#' data-target='menu_dropdown{{c.id}}'>
                        <i class="small material-icons">menu</i>
                    </a>
                    <ul id='menu_dropdown{{c.id}}' class='dropdown-content'>
                        <li><a class="modal-trigger green-text text-darken-3" data-column-id="{{c.id}}" href="#modal-card-upd{{c.id}}">
                            <i class="small material-icons">border_color</i>Изменить
                        </a>
                        </li>
                        <li class="divider" tabindex="-1"></li>
                        <li>
                            <a class="modal-trigger deep-orange-text text-darken-4" data-column-id="{{c.id}}" href="#modal-card-delete">
                                <i class="small material-icons">delete</i>Удалить
                            </a>
                        </li>
                    </ul>
                    <!-- bottom arrow     -->
                        <a href="#"><i class="small material-icons button-card-incr-order" data-card-order="{{c.order}}" data-card-id="{{c.id}}">keyboard_arrow_down</i></a>
                </div>
            </div>
        </div>

        {% endfor %}
        </div>
    </div>

</div>