<div class="col">

    <div class="category">
        <span class="category-title card-title">  <b> {{i.title}}</b> </span><br>
        <div>
            <!-- left arrow     -->
            <a href="#" style="position: relative; float: left"><i class="small material-icons">chevron_left</i></a>
            <!--  drop middle arrow -->
            <a class='dropdown-trigger' href='#' data-target='dropdown{{i.id}}' style="position: relative;">
                <i class="small material-icons">arrow_drop_down</i>
            </a>
            <ul id='dropdown{{i.id}}' class='dropdown-content'>
                <li><a class="modal-trigger" data-column-id="{{i.id}}" href="#modal-column-rename">
                    <i class="small material-icons">border_color</i>Изменить
                </a>
                </li>
                <li class="divider" tabindex="-1"></li>
                <li>
                    <a class="modal-trigger" data-column-id="{{i.id}}" href="#modal-column-delete">
                        <i class="small material-icons">delete</i>Удалить
                    </a>
                </li>
            </ul>
            <!--   right arrow         -->
            <a href="#" style="position: relative; float: right"><i class="small material-icons">chevron_right</i></a>
        </div>
        {% for c in i.cards %}

        <!--  modal for update      -->
        <div id="modal-card-upd{{c.id}}" class="modal">
            <div class="modal-content">
                <h4>{{c.title}}</h4>
                <div class="input-field">
                    <div class="input-field">
                        <input id="title-rename" type="text" value="{{c.title}}">
                        <label for="title-rename">Введите новое название</label>
                    </div>
                    <div class="input-field">
                        <textarea id="text-upd">{{c.text}}</textarea>
                        <label for="text-upd">Введите текст</label>
                    </div>
                    <div class="input-field">
                        <input id="estimate" type="date" value="{{c.estimate}}">
                        <label for="estimate">Дедлайн</label>
                    </div>
                    <div class="input-field">
                        <select id="col-upd">
                            {% for i in columns %}
                            {% if i.id == c.column_id %}
                            <option value="{{i.id}}" selected> {{i.title}}</option>
                            {% else %}
                            <option value="{{i.id}}"> {{i.title}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <label for="col-upd">Смена этапа</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="button-card-upd btn-flat white-text modal-close teal lighten-1">OK</a>
                <a href="#" class="btn-flat white-text modal-close deep-orange darken-4">Отмена</a>
            </div>
        </div>
        <!--   end modal for update     -->

        <div class="card-mini card deep-purple darken-4">
            <div class="card-content white-text">
                <a href="/card/{{c.id}}"> <span class="card-title">{{c.title}}</span></a>
                <!--  drop-->
                <a class='dropdown-trigger' href='#' data-target='menu_dropdown{{c.id}}' style="position: relative; float: right;">
                    <i class="small material-icons">menu</i>
                </a>
                <ul id='menu_dropdown{{c.id}}' class='dropdown-content'>
                    <li><a class="modal-trigger" data-column-id="{{c.id}}" href="#modal-card-upd{{c.id}}">
                        <i class="small material-icons">border_color</i>Изменить
                    </a>
                    </li>
                    <li class="divider" tabindex="-1"></li>
                    <li>
                        <a class="modal-trigger" data-column-id="{{c.id}}" href="#modal-card-delete">
                            <i class="small material-icons">delete</i>Удалить
                        </a>
                    </li>
                </ul>
                <p> {{c.text}} </p>
            </div>
        </div>

        {% endfor %}
    </div>

</div>