<div id="modal-column-create" class="modal">
    <div class="modal-content">
        <h4>Создать столбец</h4>
        <div class="input-field">
            <input id="title-column-create" type="text" minlength="3" class="validate">
            <label for="title-column-create">Введите название</label>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="button-column-create modal-close btn-small">OK</a>
        <a href="#" class="modal-close btn-small deep-orange darken-4">Cancel</a>
    </div>
</div>

<div id="modal-column-delete" class="modal">
    <div class="modal-content">
        <h4>Вы уверены, что хотите удалить столбец?</h4>
    </div>
    <div class="modal-footer">
        <a href="#" class="button-col-delete btn-flat white-text modal-close teal lighten-1">OK</a>
        <a href="#" class="btn-flat white-text modal-close deep-orange darken-4">Отмена</a>
    </div>
</div>

<div id="modal-column-rename" class="modal">
    <div class="modal-content">
        <h4>Новое имя</h4>
        <div class="input-field">
            <input id="title-rename" type="text">
            <label for="title-rename">Введите название</label>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="button-col-rename modal-close btn-flat white-text teal lighten-1">Ok</a>
        <a href="#" class="modal-close btn-flat white-text deep-orange darken-4">Cancel</a>
    </div>
</div>