<div id="modal-column-create" class="modal">
    <div class="modal-content">
        <h4>Создать карточку</h4>
        <div class="input-field">
            <input id="title-column-create" type="text" minlength="3" class="validate">
            <label for="title-column-create">Введите название</label>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="button-column-create modal-close btn-small">OK</a>
        <a href="#" class="modal-close btn-small deep-orange darken-4">Cancel</a>
    </div>
</div>
