body {
    background-image: url(../images/wp.jpg);
}

.column {
    text-align: center;
}
.crd {
    text-align: left;
}

.toast-success {
    background-color: #4caf50;
}

.toast-fail {
    background-color: #b71c1c;
}