body {
    background-image: url(../images/wp.jpg);
}

.desk-link:visited, .desk-link:active, .desk-link {
    color: white;
}

.desk-title {
    font-weight: 500 !important;
}

.category {
    text-align: center;

}

.category-title {
    font-size: x-large;
}

.card-mini {
    text-align: left;
}

.card-max {
    text-align: center;
}
.card-content {
    width: 1200px
}


.toast-success {
    background-color: #4caf50;
}

.toast-fail {
    background-color: #b71c1c;
}

.card {
    background: rgba(84, 110, 122, 0.25);
}

p {
    color: #b0bec5;
}