<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="{{ url_for('static', path='/desks.css') }}">
    <meta charset="UTF-8">
    <title>Кабан</title>
    <style>
        .desk {
            background: cornflowerblue;
        }
        main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>

</head>
<body>
    <h1>План Канбан</h1>

    <div class="desks">
        <div class="desks-list">

        {% for i in res %}
            <div class="desk" data-url="http://localhost:8000/desks/get?desk_id={{i.desk_id}}">
              {{i.desk_title}}
            </div>
        {% endfor %}

        </div>


        <button class="create-desk button">Создать доску</button>
        <button class="button" onClick="window.location.reload();">Refresh Page</button>


    </div>

</body>

<script>

    const main = document.querySelector('.desks');
    const desksList = document.querySelector('.desks-list');


    const addDeskButton = document.querySelector('.refresh');



    const getDeskFetch = async (url) => {
        const req = await fetch(url);
        const resp = await req.json();
        return resp;
    }

    const getColumns = async (url) => {
        const req = await fetch(url);
        const resp = await req.json();
        return resp;
    }

    const creatDesk = (deskInfo) => {
        console.log(deskInfo)
        const desk = document.createElement('div');
        const deskTitle = document.createElement('h2');

        deskTitle.innerHTML = deskInfo["desk_title"]

        desk.appendChild(deskTitle);

        desk.value = "xxxx";

        main.prepend(desk);

    }

    document.addEventListener('click', async (e) => {
        const deskLink = e.target.getAttribute("data-url");
        if(deskLink) {
            const desksValue = await getDeskFetch(deskLink);
            const columnsValue = await getColumns(deskLink);

            desksList.remove();
            creatDesk(desksValue[0])
        }
        // console.log(e.target.getAttribute("data-url"))
    })


</script>
</html>
