<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="{{ url_for('static', path='/desks.css') }}">
    <meta charset="UTF-8">
    <title>План Канбан</title>
<!--    <style>-->
<!--        .desk {-->
<!--            background: cornflowerblue;-->
<!--        }-->

<!--        main {-->
<!--            display: flex;-->
<!--            flex-direction: column;-->
<!--            justify-content: center;-->
<!--            align-items: center;-->
<!--        }-->
<!--    </style>-->

</head>
<body>
<h1 id="h1">План Канбан</h1>

<div class="desks">
    <div class="desks-list">

        {% for i in desks_list %}
        <!--порт 8022        -->
        <a class="desk" href="http://localhost:8000/desks?desk_id={{i.desk_id}}">
            {{i.desk_title}}
        </a>
        <button onclick="deletedesk({{i.desk_id}})">Удалить доску</button>
        <button onclick="renamedesk({{i.desk_id}})">Переименовать доску</button>

        {% endfor %}

    </div>

    <button class="create-desk button">Создать доску</button>


</div>

</body>
<script>

    const createDeskRequest = async (deskTitle) => {
        <!--порт 8022        -->
        const response = await fetch('http://localhost:8000/desks/',
            {
                method: 'post',
                headers: {'Content-Type': 'application/json;charset=utf-8'},
                body: JSON.stringify({"title": deskTitle})
            }
        );
        return await response.json();

    }

    const deleteDeskRequest = async (desk_id) => {
        <!--порт 8022        -->
        const response = await fetch('http://localhost:8000/desks/?desk_id='+desk_id,
            {
                method: 'delete',
                headers: {'Content-Type': 'application/json;charset=utf-8'}
            }
        );
        return await response.json();
    }

    const renameDeskRequest = async (desk_id, deskTitle) => {
        <!--порт 8022        -->
        const response = await fetch('http://localhost:8000/desks/?desk_id='+desk_id,
            {
                method: 'put',
                headers: {'Content-Type': 'application/json;charset=utf-8'},
                body: JSON.stringify({"title": deskTitle})
            }
        );
        return await response.json();
    }

    const createDeskButton = document.querySelector('.create-desk');
    createDeskButton.addEventListener('click', async () => {
        const deskTitle = prompt("Название доски", "Новая доска");
        const newDesk = await createDeskRequest(deskTitle);
        console.log(newDesk) // todo проверять ошибки
        document.location.reload();
    });

    async function deletedesk(desk_id) {
        let check = confirm('Вы уверены?')
        if (check) {
            const delDesk = await deleteDeskRequest(desk_id);
            console.log(delDesk) // todo проверять ошибки
            document.location.reload();
        }
    }

    async function renamedesk(desk_id) {
        const deskNewTitle = prompt('Название доски', 'Новое имя');
        const updDesk = await renameDeskRequest(desk_id, deskNewTitle);
        console.log(updDesk) // todo проверять ошибки
        document.location.reload();
    }

</script>
</html>
