<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>План Канбан</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h1>План Канбан</h1>
    <div class="auth-box">
        <form method="get" action="http://localhost:8000/desks/all/">
            <p>Авторизация</p>
            <input type="text" placeholder="Логин"><br>
            <input type="text" placeholder="Пароль"><br>
            <button type="submit">Загрузить Доски</button>
        </form>
    </div>
</body>
</html>