<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', path='images/wild-boar.png') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', path='styles/index.css') }}">
    <meta charset="UTF-8">
    <title>План Канбан</title>
</head>
<body>



<div class="container">
    <h1 id="h1" class="blue-grey-text text-lighten-4">План Канбан</h1>
    <a class="modal-trigger waves-effect waves-light btn green darken-3" href="#modal-desk-create">Создать доску</a>

    {% include 'components/desk_modals.html' %}

    {% for i in desks_list %}

            {% include 'components/desk_card.html' %}

    {% endfor %}

    <div hidden class="current_desk" data-desk-id="0"></div>

</div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="module" src="{{ url_for('static', path='scripts/script.js') }}"></script>
</html>
